.ContactData {
    text-align: center;
    width: 80%;
    margin: 20px auto;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}

@media(max-width: 600px) {
    .CheckoutSummary {
        width: 500px;
    }
}

@media(max-width: 500px) {
    .CheckoutSummary {
        width: 350px;
    }
}